.wbdv-button.wbdv-add-course {
    background-color: red;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 3px;
    margin-left: 20px;
    line-height: 37px;
}

.wbdv-tableheader {
    background-color: #F0F0F0;
    color: #808080;

}

.wbdv-coursetable {
    width: 100%;
    text-align: left;
}

.wbdv-course {
    border: solid thin lightgray;
    height: 45px;
}

.wbdv-title {
    color: #404040;

}

.wbdv-owner {
    color: #808080;
}

.wbdv-modified-date {
    color: #808080;
}

.wbdv-bottom-plus {
    background-color: red;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 37px;
    right: 40px;
    bottom: 20px;
    position: fixed;
}
.wbdv-title-icons{
    padding-left: 15px;
}
.wbdv-header.wbdv-title{
    padding-left: 50px;
}
@media only screen and (max-width: 540px) {
    td:nth-child(2) {
        display:none;
    }
}
@media only screen and (max-width: 540px) {
    td:nth-child(3) {
        display:none;
    }
}
@media only screen and (max-width: 540px) {
    th:nth-child(2) {
        display:none;
    }
}

@media only screen and (max-width: 540px) {
    th:nth-child(3) {
        display:none;
    }
}

